<nav class="sidebar d-flex sidebar-offcanvas" id="sidebar">
  <div class=" flex-column" style="height: 100vh;">
    <ul class="nav">
      <li class="nav-item sidebar-category">
        <span></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="projection">
          <i class="mdi mdi-view-quilt menu-icon"></i>
          <span class="menu-title">Programme Projection</span>
          <div class="badge badge-info badge-pill">2</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="film">
          <i class="mdi mdi-view-headline menu-icon"></i>
          <span class="menu-title">Films</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="salle">
          <i class="mdi mdi-chart-pie menu-icon"></i>
          <span class="menu-title">Salles</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ticket">
          <i class="mdi mdi-view-headline menu-icon"></i>
          <span class="menu-title">Tickets</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
